.footer {
  padding: 48px 32px;
  background-color: $main;
  display: flex;
  flex-direction: column;
  gap: 38px;
  color: $white;
  font-family: $font-body;

  &__title {
    width: 110px;
    height: 40px;
  }

  &__description {
    font-style: normal;
    @include body(1.6rem, 2.6rem);
  }
  &--orange {
    background-color: $secondary;
    color: $main;
    .footer__icons {
      filter: invert(1);
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    gap: 64.5px;
    padding: 56px 40px;

    &__description {
      max-width: 281px;
    }

    &__icons {
      margin-left: auto;
    }
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px 165px;

    &__description {
      min-width: 430px;
      margin-inline-start: 140px;
    }
  }
}
