.announcement {
  display: flex;
  flex-direction: column;
  gap: 21px;
  &__title {
    @include headers(5rem, 4.5rem);
  }

  &__description {
    @include body-s;
  }

  &--dark-theme {
    color: $white;
    background-color: $main;
    padding: 24px 48px;
  }
}
