.announcement {
  display: flex;
  flex-direction: column;
  gap: 21px;
  &__title {
    @include headers(5rem, 4.5rem);
  }

  &__description {
    @include body-s;
  }

  &--dark-theme {
    color: $white;
    background-color: $main;
    padding: 85px 28px;
  }
}

@media screen and (min-width: 1440px) {
  .announcement {
    &__title {
      @include header-m;
    }

    &__description {
      @include body-m;
    }
  }
}
