.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "pic1" "art1" "pic2" "pic3" "art2";
  margin-block: 120px;
  padding: 0px 16px;
  gap: 25px;

  &__announcement {
    &--1 {
      grid-area: art1;
    }

    &--2 {
      grid-area: art2;
    }
  }

  &__picture {
    &--picture1 {
      grid-area: pic1;
    }

    &--picture2 {
      grid-area: pic2;
    }

    &--picture3 {
      grid-area: pic3;
    }
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 0px;
    gap: 11px 12px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 400px 313px 396px;
    grid-template-areas:
      "art1 art1 art1 art1 . pic1 pic1 pic1 pic1 pic1 pic1 pic1"
      "pic2 pic2 pic2 pic2 pic2 pic2 pic2 pic3 pic3 pic3 pic3 pic3"
      "pic2 pic2 pic2 pic2 pic2 pic2 pic2 art2 art2 art2 art2 art2";
    max-width: 689px;
    margin: 120px auto;

    &__announcement {
      &--1 {
        min-width: 223px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    min-width: 1110px;
    margin: 180px;
    gap: 30px 28px;
    grid-template-rows: 400px 313px 377px;
  }
}
