// COLORS
$white: rgb(255, 255, 255);
$grey: rgb(68, 68, 68);
$main: rgb(21, 21, 21);
$secondary: rgb(213, 150, 108);

// TYPOGRAPHY
$font-headers: "Big Shoulders Display", sans-serif;
$font-body: "Outfit", sans-serif;
