html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

picture {
  width: max-content;
}

.button {
  background-color: rgb(21, 21, 21);
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: fit-content;
  border: none;
}
.button__text {
  color: white;
  font-size: 2rem;
  line-height: auto;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
  letter-spacing: 0.364rem;
  padding: 24px 35px 24px 32px;
}
.button__img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 150, 108);
  width: 56px;
  padding: 24px;
  height: 100%;
}

.icons {
  display: flex;
  gap: 20px;
}
.icons__img {
  width: 20px;
  height: 20px;
}

.hero {
  display: grid;
  gap: 32px;
}
.hero__CTA-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}
.hero__title {
  font-size: 6rem;
  line-height: 5.5rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
}
.hero__title br {
  display: none;
}
.hero__description {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.8rem;
}

@media screen and (min-width: 768px) {
  .hero {
    grid-template-columns: repeat(12, 1fr);
  }
  .hero__img {
    grid-column: 1/8;
    grid-row: 1/11;
    height: 700px;
  }
  .hero__CTA-section {
    width: 339px;
    grid-column: 7/13;
    grid-row: 3/9;
    position: relative;
    left: -22px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    position: relative;
    grid-template-columns: repeat(6, 1fr);
  }
  .hero__img {
    position: relative;
    left: 450px;
    z-index: -1;
    height: 800px;
  }
  .hero__img::after {
    content: "";
    display: block;
    width: 450px;
    height: 800px;
    background-color: rgb(21, 21, 21);
    position: absolute;
    top: 0;
    left: -450px;
  }
  .hero__CTA-section {
    position: static;
    grid-column: 5;
    margin-inline-start: 238px;
  }
  .hero__title {
    position: absolute;
    max-width: 514px;
    font-size: 9.6rem;
    line-height: 8.8rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Big Shoulders Display", sans-serif;
    left: 11.4583333333%;
    mix-blend-mode: difference;
    filter: invert(1);
  }
  .hero__title br {
    display: initial;
  }
  .hero__description {
    font-family: "Outfit", sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 3.2rem;
  }
}
.announcement {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.announcement__title {
  font-size: 5rem;
  line-height: 4.5rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
}
.announcement__description {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.8rem;
}
.announcement--dark-theme {
  color: rgb(255, 255, 255);
  background-color: rgb(21, 21, 21);
  padding: 85px 28px;
}

@media screen and (min-width: 1440px) {
  .announcement__title {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Big Shoulders Display", sans-serif;
  }
  .announcement__description {
    font-family: "Outfit", sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 3.2rem;
  }
}
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "pic1" "art1" "pic2" "pic3" "art2";
  margin-block: 120px;
  padding: 0px 16px;
  gap: 25px;
}
.gallery__announcement--1 {
  grid-area: art1;
}
.gallery__announcement--2 {
  grid-area: art2;
}
.gallery__picture--picture1 {
  grid-area: pic1;
}
.gallery__picture--picture2 {
  grid-area: pic2;
}
.gallery__picture--picture3 {
  grid-area: pic3;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 0px;
    gap: 11px 12px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 400px 313px 396px;
    grid-template-areas: "art1 art1 art1 art1 . pic1 pic1 pic1 pic1 pic1 pic1 pic1" "pic2 pic2 pic2 pic2 pic2 pic2 pic2 pic3 pic3 pic3 pic3 pic3" "pic2 pic2 pic2 pic2 pic2 pic2 pic2 art2 art2 art2 art2 art2";
    max-width: 689px;
    margin: 120px auto;
  }
  .gallery__announcement--1 {
    min-width: 223px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery {
    min-width: 1110px;
    margin: 180px;
    gap: 30px 28px;
    grid-template-rows: 400px 313px 377px;
  }
}
.footer {
  padding: 48px 32px;
  background-color: rgb(21, 21, 21);
  display: flex;
  flex-direction: column;
  gap: 38px;
  color: rgb(255, 255, 255);
  font-family: "Outfit", sans-serif;
}
.footer__title {
  width: 110px;
  height: 40px;
}
.footer__description {
  font-style: normal;
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.6rem;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    gap: 64.5px;
    padding: 56px 40px;
  }
  .footer__description {
    max-width: 281px;
  }
  .footer__icons {
    margin-left: auto;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px 165px;
  }
  .footer__description {
    min-width: 430px;
    margin-inline-start: 140px;
  }
}

/*# sourceMappingURL=index.css.map */
